<section class="text-blue-400 body-font bg-blue-900">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h2 class="text-xl text-indigo-400 tracking-widest font-medium title-font mb-1">Contact Me</h2>
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Suman Biswas</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> VIll - Kurmitola 1 no</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> POST - Murshidabad</p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> P.S. + Dist. - Murhsidabad</p>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base"> West Bengal - 742149</p>
    </div>
    <div class="flex flex-wrap">
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-blue-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Mobile And WhatsApp</h2>
        <a href="tel:8250793492" class="leading-relaxed text-base mb-4">+91 8250793492</a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-blue-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Email Id</h2>
        <a href = "mailto: Suman.lalbagh93@gmail.com" class="leading-relaxed text-base mb-4">Suman.lalbagh93@gmail.com</a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-blue-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">Linkedin Link</h2>
        <a href = "https://www.linkedin.com/in/suman-biswas-suman-biswas/" class="leading-relaxed text-base mb-4">https://www.linkedin.com/in/suman-biswas-suman-biswas/</a>
      </div>
      <div class="xl:w-1/4 lg:w-1/2 md:w-full px-8 py-6 border-l-2 border-blue-800">
        <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">GitHub Link</h2>
        <a href = "https://github.com/Sumanhub45" class="leading-relaxed text-base mb-4">https://github.com/Sumanhub45</a>
      </div>
      
  </div>
</section>